/* General styles */
body {
  font-family: "Roboto", Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Container for the message display */
#message-container {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 40px 60px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
  overflow: hidden; /* Ensures content stays within the container */
  word-wrap: break-word; /* Breaks long words to keep them within the container */
}

/* Message styles */
#message {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  transform: translateY(-20px);
}

/* Countdown styles */
#countdown {
  font-size: 2.5rem;
  color: #666;
  margin-top: 10px;
}
